@model WebApplication1.Models.GestbookVM

@{
    ViewBag.Title = "Index";
}
<div id="CreateDate">
	@Html.Action("Create", "Guestbook", FormMethod.Get)
</div>
<h2>留言板內容</h2>

@using (Html.BeginForm("Index", "Guestbook", FormMethod.Get))
{
	<table class="table">
		<tr>
			<td>@Html.LabelFor(model => model.Search)</td>
			<td>@Html.TextBoxFor(model => model.Search)</td>
			<td><input type="submit" value="搜尋" /></td>
		</tr>
	</table>

<table class="table">
	@if (!Model.DataList.Count.Equals(0))
	{
		foreach (var item in Model.DataList)
		{
			<tr>
				<td>@Html.DisplayNameFor(model => model.DataList[0].Name)</td>
				<td>@item.Name</td>
				<td>@Html.DisplayNameFor(model => model.DataList[0].CreateTime)</td>
				<td>@item.CreateTime</td>
			</tr>
			<tr>
				<td>@Html.DisplayNameFor(model => model.DataList[0].Content)</td>
				<td colspan="3">@item.Content</td>
			</tr>
			<tr>
				<td>@Html.DisplayNameFor(model => model.DataList[0].Reply)</td>
				<td colspan="3">@item.Reply</td>
			</tr>
			<tr>
				<td>@Html.DisplayNameFor(model => model.DataList[0].ReplyTime)</td>
				<td>@item.ReplyTime</td>
				<td colspan="2"></td>
			</tr>
			<tr>
				<td>
					@Html.ActionLink("修改", "Edit", new { Id = item.Id}) |
					@Html.ActionLink("回覆", "Reply", new { Id = item.Id }) |
					@Html.ActionLink("刪除", "Delete", new { Id = item.Id })
				</td>
			</tr>
		}
	}
	else
	{
		<tr><td colspan="4">資料庫內查無資料</td></tr>
	}

	<tr>
		<td>
			@if (Model.Paging.NowPage > 1)
			{
				if (Model.Paging.NowPage > 2)
				{
					@Html.ActionLink(" << ", "Index", new { Page = 1, Search = Model.Search })
				}

				@Html.ActionLink(" < ", "Index", new { Page = Model.Paging.NowPage - 1, Search = Model.Search })
			}
		</td>
		<td>
			@{
				int Page;
			}
			@for (Page = Model.Paging.NowPage - 6; Page < Model.Paging.NowPage + 6; Page++)
			{
				if (Page > 0 && Page <= Model.Paging.MaxPage)
				{
					if (Page == Model.Paging.NowPage)
					{
						<b>@Page</b>
					}
					else
					{
						@Html.ActionLink(Page.ToString(), "Index", new { Page = Page, Search = Model.Search })
					}
				}
			}
		</td>
	</tr>
</table>

}
@*載入驗證所需的Javascript*@
@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}