@model WebApplication1.Models.FArticleVM

@{
	ViewBag.Title = "文章首頁";
}

<div class="page-header">
	<h1>文章列表</h1>
</div>

@using (Ajax.BeginForm("List", "Home", new AjaxOptions { UpdateTargetId = "ArticleListBlock", InsertionMode = InsertionMode.Replace }))
{
	<div class="form-group">
		@Html.LabelFor(model => model.Search, new { @class = "col-xs-4 col-md-1 form-label" })
		<div class="col-xs-8 col-md-3 input-group">
			@Html.TextBoxFor(model => model.Search, new { @class = "form-control" })
			<div class="input-group-btn">
				<button type="submit" value="搜尋" class="btn btn-primary"></button>
			</div>
		</div>
	</div>
}




@*載入文章列表內容*@
<div id="ArticleListBlock">
	@Html.Action("List", "Home")
</div>

@if (User.Identity.IsAuthenticated)
{
	@Ajax.ActionLink("新增文章", "Create", "Home", null, new AjaxOptions
{
	UpdateTargetId = "CreateArticleModal",
	InsertionMode = InsertionMode.Replace
}, new { @class = "btn btn-default", @data_toggle = "modal", @data_target = "#CreateArticleModal" })

	<div class="modal fade" id="CreateArticleModal" , tabindex="-1" role="dialog" aria-labelledby="CreateArticleModal" aria-hidden="true"></div>
}
else
{
	<text>要新增文章請先</text>
	@Html.ActionLink("登入", "Login", "Member")
}



@*載入驗證所需的Javascript*@
@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
	@Scripts.Render("~/js/Home/ArticleList.js")
}